@font-face {
    font-family: '5k-modernist';
    src: url('./Sk-Modernist-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: '5k-modernist';
    src: url('./Sk-Modernist-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: '5k-modernist-mono';
    src: url('./Sk-Modernist-Mono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }